.row::after {
  content: '';
  display: block;
  clear: both;
}

.col-float, .xs-col-1, .xs-col-2, .xs-col-3, .xs-col-4, .sm-col-1, .sm-col-2, .sm-col-3, .sm-col-4, .sm-col-5, .sm-col-6, .sm-col-7, .sm-col-8, .sm-col-9, .sm-col-10, .sm-col-11, .sm-col-12, .md-col-1, .md-col-2, .md-col-3, .md-col-4, .md-col-5, .md-col-6, .md-col-7, .md-col-8, .md-col-9, .md-col-10, .md-col-11, .md-col-12, .lg-col-1, .lg-col-2, .lg-col-3, .lg-col-4, .lg-col-5, .lg-col-6, .lg-col-7, .lg-col-8, .lg-col-9, .lg-col-10, .lg-col-11, .lg-col-12, .xl-col-1, .xl-col-2, .xl-col-3, .xl-col-4, .xl-col-5, .xl-col-6, .xl-col-7, .xl-col-8, .xl-col-9, .xl-col-10, .xl-col-11, .xl-col-12, .error .col-1 {
  float: left;
}

.col-postion-r, .xs-push-1, .xs-push-2, .xs-push-3, .xs-push-4, .xs-pull-1, .xs-pull-2, .xs-pull-3, .xs-pull-4, .sm-push-1, .sm-push-2, .sm-push-3, .sm-push-4, .sm-push-5, .sm-push-6, .sm-push-7, .sm-push-8, .sm-push-9, .sm-push-10, .sm-push-11, .sm-push-12, .sm-pull-1, .sm-pull-2, .sm-pull-3, .sm-pull-4, .sm-pull-5, .sm-pull-6, .sm-pull-7, .sm-pull-8, .sm-pull-9, .sm-pull-10, .sm-pull-11, .sm-pull-12, .md-push-1, .md-push-2, .md-push-3, .md-push-4, .md-push-5, .md-push-6, .md-push-7, .md-push-8, .md-push-9, .md-push-10, .md-push-11, .md-push-12, .md-pull-1, .md-pull-2, .md-pull-3, .md-pull-4, .md-pull-5, .md-pull-6, .md-pull-7, .md-pull-8, .md-pull-9, .md-pull-10, .md-pull-11, .md-pull-12, .lg-push-1, .lg-push-2, .lg-push-3, .lg-push-4, .lg-push-5, .lg-push-6, .lg-push-7, .lg-push-8, .lg-push-9, .lg-push-10, .lg-push-11, .lg-push-12, .lg-pull-1, .lg-pull-2, .lg-pull-3, .lg-pull-4, .lg-pull-5, .lg-pull-6, .lg-pull-7, .lg-pull-8, .lg-pull-9, .lg-pull-10, .lg-pull-11, .lg-pull-12, .xl-push-1, .xl-push-2, .xl-push-3, .xl-push-4, .xl-push-5, .xl-push-6, .xl-push-7, .xl-push-8, .xl-push-9, .xl-push-10, .xl-push-11, .xl-push-12, .xl-pull-1, .xl-pull-2, .xl-pull-3, .xl-pull-4, .xl-pull-5, .xl-pull-6, .xl-pull-7, .xl-pull-8, .xl-pull-9, .xl-pull-10, .xl-pull-11, .xl-pull-12, .error .push-1, .error .pull-1 {
  position: relative;
}

.container, .grid-box.guide-line::before, .grid-box.base-line::after, .error .container {
  margin: 0 auto;
}

.readable-hidden,
.a11y-hidden,
.screen-off {
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
}

.row [class*="-col-"]:first-child {
  margin-left: 0;
}

.row.isolate [class*="-col-"] {
  margin-right: -100%;
}

.readable-hidden,
.a11y-hidden,
.screen-off {
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  position: absolute;
  left: -99999px;
}

.dev {
  font-size: 1.3125rem;
  line-height: 1.5;
}

h1 {
  font-size: 4.20873rem;
  line-height: 1.5;
}

h2 {
  font-size: 3.15733rem;
  line-height: 1.5;
}

h3 {
  font-size: 2.36859rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.77689rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.333rem;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-box {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .grid-box.guide-line::before {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(transparent 9px, #1827f1 10px);
    background-size: 1px 10px;
  }
  .grid-box.base-line::after {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(90deg, rgba(135, 105, 81, 0.5) 0%, rgba(135, 105, 81, 0.5) 89%, transparent 89%, transparent 100%);
    background-size: 25.75% 1px;
  }
  .xs-hidden {
    display: none;
  }
  .xs-col-1 {
    width: 22.75%;
    margin-left: 3%;
  }
  .xs-col-2 {
    width: 48.5%;
    margin-left: 3%;
  }
  .xs-col-3 {
    width: 74.25%;
    margin-left: 3%;
  }
  .xs-col-4 {
    width: 100%;
    margin-left: 3%;
  }
  .xs-prefix-1 {
    margin-left: 28.75%;
  }
  .xs-prefix-2 {
    margin-left: 54.5%;
  }
  .xs-prefix-3 {
    margin-left: 80.25%;
  }
  .xs-prefix-4 {
    margin-left: 106%;
  }
  .xs-suffix-1 {
    margin-right: 28.75%;
  }
  .xs-suffix-2 {
    margin-right: 54.5%;
  }
  .xs-suffix-3 {
    margin-right: 80.25%;
  }
  .xs-suffix-4 {
    margin-right: 106%;
  }
  .xs-push-1 {
    left: 25.75%;
  }
  .xs-push-2 {
    left: 51.5%;
  }
  .xs-push-3 {
    left: 77.25%;
  }
  .xs-push-4 {
    left: 103%;
  }
  .xs-pull-1 {
    right: 25.75%;
  }
  .xs-pull-2 {
    right: 51.5%;
  }
  .xs-pull-3 {
    right: 77.25%;
  }
  .xs-pull-4 {
    right: 103%;
  }
  .row.isolate .xs-order-1, .row.isolate .xs-o-1 {
    margin-left: 25%;
  }
  .row.isolate .xs-order-2, .row.isolate .xs-o-2 {
    margin-left: 50%;
  }
  .row.isolate .xs-order-3, .row.isolate .xs-o-3 {
    margin-left: 75%;
  }
  .row.isolate .xs-order-4, .row.isolate .xs-o-4 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    box-sizing: border-box;
    width: 766px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-box {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .grid-box.guide-line::before {
    box-sizing: border-box;
    width: 766px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(transparent 9px, #1827f1 10px);
    background-size: 1px 10px;
  }
  .grid-box.base-line::after {
    box-sizing: border-box;
    width: 766px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(90deg, rgba(135, 105, 81, 0.5) 0px, rgba(135, 105, 81, 0.5) 53px, transparent 53px, transparent 63px);
    background-size: 63px 1px;
  }
  .sm-hidden {
    display: none;
  }
  .sm-col-1 {
    width: 53px;
    margin-left: 10px;
  }
  .sm-col-2 {
    width: 116px;
    margin-left: 10px;
  }
  .sm-col-3 {
    width: 179px;
    margin-left: 10px;
  }
  .sm-col-4 {
    width: 242px;
    margin-left: 10px;
  }
  .sm-col-5 {
    width: 305px;
    margin-left: 10px;
  }
  .sm-col-6 {
    width: 368px;
    margin-left: 10px;
  }
  .sm-col-7 {
    width: 431px;
    margin-left: 10px;
  }
  .sm-col-8 {
    width: 494px;
    margin-left: 10px;
  }
  .sm-col-9 {
    width: 557px;
    margin-left: 10px;
  }
  .sm-col-10 {
    width: 620px;
    margin-left: 10px;
  }
  .sm-col-11 {
    width: 683px;
    margin-left: 10px;
  }
  .sm-col-12 {
    width: 746px;
    margin-left: 10px;
  }
  .sm-prefix-1 {
    margin-left: 73px;
  }
  .sm-prefix-2 {
    margin-left: 136px;
  }
  .sm-prefix-3 {
    margin-left: 199px;
  }
  .sm-prefix-4 {
    margin-left: 262px;
  }
  .sm-prefix-5 {
    margin-left: 325px;
  }
  .sm-prefix-6 {
    margin-left: 388px;
  }
  .sm-prefix-7 {
    margin-left: 451px;
  }
  .sm-prefix-8 {
    margin-left: 514px;
  }
  .sm-prefix-9 {
    margin-left: 577px;
  }
  .sm-prefix-10 {
    margin-left: 640px;
  }
  .sm-prefix-11 {
    margin-left: 703px;
  }
  .sm-prefix-12 {
    margin-left: 766px;
  }
  .sm-suffix-1 {
    margin-right: 73px;
  }
  .sm-suffix-2 {
    margin-right: 136px;
  }
  .sm-suffix-3 {
    margin-right: 199px;
  }
  .sm-suffix-4 {
    margin-right: 262px;
  }
  .sm-suffix-5 {
    margin-right: 325px;
  }
  .sm-suffix-6 {
    margin-right: 388px;
  }
  .sm-suffix-7 {
    margin-right: 451px;
  }
  .sm-suffix-8 {
    margin-right: 514px;
  }
  .sm-suffix-9 {
    margin-right: 577px;
  }
  .sm-suffix-10 {
    margin-right: 640px;
  }
  .sm-suffix-11 {
    margin-right: 703px;
  }
  .sm-suffix-12 {
    margin-right: 766px;
  }
  .sm-push-1 {
    left: 63px;
  }
  .sm-push-2 {
    left: 126px;
  }
  .sm-push-3 {
    left: 189px;
  }
  .sm-push-4 {
    left: 252px;
  }
  .sm-push-5 {
    left: 315px;
  }
  .sm-push-6 {
    left: 378px;
  }
  .sm-push-7 {
    left: 441px;
  }
  .sm-push-8 {
    left: 504px;
  }
  .sm-push-9 {
    left: 567px;
  }
  .sm-push-10 {
    left: 630px;
  }
  .sm-push-11 {
    left: 693px;
  }
  .sm-push-12 {
    left: 756px;
  }
  .sm-pull-1 {
    right: 63px;
  }
  .sm-pull-2 {
    right: 126px;
  }
  .sm-pull-3 {
    right: 189px;
  }
  .sm-pull-4 {
    right: 252px;
  }
  .sm-pull-5 {
    right: 315px;
  }
  .sm-pull-6 {
    right: 378px;
  }
  .sm-pull-7 {
    right: 441px;
  }
  .sm-pull-8 {
    right: 504px;
  }
  .sm-pull-9 {
    right: 567px;
  }
  .sm-pull-10 {
    right: 630px;
  }
  .sm-pull-11 {
    right: 693px;
  }
  .sm-pull-12 {
    right: 756px;
  }
  .row.isolate .sm-order-1, .row.isolate .sm-o-1 {
    margin-left: 63px;
  }
  .row.isolate .sm-order-2, .row.isolate .sm-o-2 {
    margin-left: 126px;
  }
  .row.isolate .sm-order-3, .row.isolate .sm-o-3 {
    margin-left: 189px;
  }
  .row.isolate .sm-order-4, .row.isolate .sm-o-4 {
    margin-left: 252px;
  }
  .row.isolate .sm-order-5, .row.isolate .sm-o-5 {
    margin-left: 315px;
  }
  .row.isolate .sm-order-6, .row.isolate .sm-o-6 {
    margin-left: 378px;
  }
  .row.isolate .sm-order-7, .row.isolate .sm-o-7 {
    margin-left: 441px;
  }
  .row.isolate .sm-order-8, .row.isolate .sm-o-8 {
    margin-left: 504px;
  }
  .row.isolate .sm-order-9, .row.isolate .sm-o-9 {
    margin-left: 567px;
  }
  .row.isolate .sm-order-10, .row.isolate .sm-o-10 {
    margin-left: 630px;
  }
  .row.isolate .sm-order-11, .row.isolate .sm-o-11 {
    margin-left: 693px;
  }
  .row.isolate .sm-order-12, .row.isolate .sm-o-12 {
    margin-left: 756px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    box-sizing: border-box;
    width: 1018px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-box {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .grid-box.guide-line::before {
    box-sizing: border-box;
    width: 1018px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(transparent 9px, #1827f1 10px);
    background-size: 1px 10px;
  }
  .grid-box.base-line::after {
    box-sizing: border-box;
    width: 1018px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(90deg, rgba(135, 105, 81, 0.5) 0px, rgba(135, 105, 81, 0.5) 74px, transparent 74px, transparent 84px);
    background-size: 84px 1px;
  }
  .md-hidden {
    display: none;
  }
  .md-col-1 {
    width: 74px;
    margin-left: 10px;
  }
  .md-col-2 {
    width: 158px;
    margin-left: 10px;
  }
  .md-col-3 {
    width: 242px;
    margin-left: 10px;
  }
  .md-col-4 {
    width: 326px;
    margin-left: 10px;
  }
  .md-col-5 {
    width: 410px;
    margin-left: 10px;
  }
  .md-col-6 {
    width: 494px;
    margin-left: 10px;
  }
  .md-col-7 {
    width: 578px;
    margin-left: 10px;
  }
  .md-col-8 {
    width: 662px;
    margin-left: 10px;
  }
  .md-col-9 {
    width: 746px;
    margin-left: 10px;
  }
  .md-col-10 {
    width: 830px;
    margin-left: 10px;
  }
  .md-col-11 {
    width: 914px;
    margin-left: 10px;
  }
  .md-col-12 {
    width: 998px;
    margin-left: 10px;
  }
  .md-prefix-1 {
    margin-left: 94px;
  }
  .md-prefix-2 {
    margin-left: 178px;
  }
  .md-prefix-3 {
    margin-left: 262px;
  }
  .md-prefix-4 {
    margin-left: 346px;
  }
  .md-prefix-5 {
    margin-left: 430px;
  }
  .md-prefix-6 {
    margin-left: 514px;
  }
  .md-prefix-7 {
    margin-left: 598px;
  }
  .md-prefix-8 {
    margin-left: 682px;
  }
  .md-prefix-9 {
    margin-left: 766px;
  }
  .md-prefix-10 {
    margin-left: 850px;
  }
  .md-prefix-11 {
    margin-left: 934px;
  }
  .md-prefix-12 {
    margin-left: 1018px;
  }
  .md-suffix-1 {
    margin-right: 94px;
  }
  .md-suffix-2 {
    margin-right: 178px;
  }
  .md-suffix-3 {
    margin-right: 262px;
  }
  .md-suffix-4 {
    margin-right: 346px;
  }
  .md-suffix-5 {
    margin-right: 430px;
  }
  .md-suffix-6 {
    margin-right: 514px;
  }
  .md-suffix-7 {
    margin-right: 598px;
  }
  .md-suffix-8 {
    margin-right: 682px;
  }
  .md-suffix-9 {
    margin-right: 766px;
  }
  .md-suffix-10 {
    margin-right: 850px;
  }
  .md-suffix-11 {
    margin-right: 934px;
  }
  .md-suffix-12 {
    margin-right: 1018px;
  }
  .md-push-1 {
    left: 84px;
  }
  .md-push-2 {
    left: 168px;
  }
  .md-push-3 {
    left: 252px;
  }
  .md-push-4 {
    left: 336px;
  }
  .md-push-5 {
    left: 420px;
  }
  .md-push-6 {
    left: 504px;
  }
  .md-push-7 {
    left: 588px;
  }
  .md-push-8 {
    left: 672px;
  }
  .md-push-9 {
    left: 756px;
  }
  .md-push-10 {
    left: 840px;
  }
  .md-push-11 {
    left: 924px;
  }
  .md-push-12 {
    left: 1008px;
  }
  .md-pull-1 {
    right: 84px;
  }
  .md-pull-2 {
    right: 168px;
  }
  .md-pull-3 {
    right: 252px;
  }
  .md-pull-4 {
    right: 336px;
  }
  .md-pull-5 {
    right: 420px;
  }
  .md-pull-6 {
    right: 504px;
  }
  .md-pull-7 {
    right: 588px;
  }
  .md-pull-8 {
    right: 672px;
  }
  .md-pull-9 {
    right: 756px;
  }
  .md-pull-10 {
    right: 840px;
  }
  .md-pull-11 {
    right: 924px;
  }
  .md-pull-12 {
    right: 1008px;
  }
  .row.isolate .md-order-1, .row.isolate .md-o-1 {
    margin-left: 84px;
  }
  .row.isolate .md-order-2, .row.isolate .md-o-2 {
    margin-left: 168px;
  }
  .row.isolate .md-order-3, .row.isolate .md-o-3 {
    margin-left: 252px;
  }
  .row.isolate .md-order-4, .row.isolate .md-o-4 {
    margin-left: 336px;
  }
  .row.isolate .md-order-5, .row.isolate .md-o-5 {
    margin-left: 420px;
  }
  .row.isolate .md-order-6, .row.isolate .md-o-6 {
    margin-left: 504px;
  }
  .row.isolate .md-order-7, .row.isolate .md-o-7 {
    margin-left: 588px;
  }
  .row.isolate .md-order-8, .row.isolate .md-o-8 {
    margin-left: 672px;
  }
  .row.isolate .md-order-9, .row.isolate .md-o-9 {
    margin-left: 756px;
  }
  .row.isolate .md-order-10, .row.isolate .md-o-10 {
    margin-left: 840px;
  }
  .row.isolate .md-order-11, .row.isolate .md-o-11 {
    margin-left: 924px;
  }
  .row.isolate .md-order-12, .row.isolate .md-o-12 {
    margin-left: 1008px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    box-sizing: border-box;
    width: 1438px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-box {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .grid-box.guide-line::before {
    box-sizing: border-box;
    width: 1438px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(transparent 9px, #1827f1 10px);
    background-size: 1px 10px;
  }
  .grid-box.base-line::after {
    box-sizing: border-box;
    width: 1438px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(90deg, rgba(135, 105, 81, 0.5) 0px, rgba(135, 105, 81, 0.5) 109px, transparent 109px, transparent 119px);
    background-size: 119px 1px;
  }
  .lg-hidden {
    display: none;
  }
  .lg-col-1 {
    width: 109px;
    margin-left: 10px;
  }
  .lg-col-2 {
    width: 228px;
    margin-left: 10px;
  }
  .lg-col-3 {
    width: 347px;
    margin-left: 10px;
  }
  .lg-col-4 {
    width: 466px;
    margin-left: 10px;
  }
  .lg-col-5 {
    width: 585px;
    margin-left: 10px;
  }
  .lg-col-6 {
    width: 704px;
    margin-left: 10px;
  }
  .lg-col-7 {
    width: 823px;
    margin-left: 10px;
  }
  .lg-col-8 {
    width: 942px;
    margin-left: 10px;
  }
  .lg-col-9 {
    width: 1061px;
    margin-left: 10px;
  }
  .lg-col-10 {
    width: 1180px;
    margin-left: 10px;
  }
  .lg-col-11 {
    width: 1299px;
    margin-left: 10px;
  }
  .lg-col-12 {
    width: 1418px;
    margin-left: 10px;
  }
  .lg-prefix-1 {
    margin-left: 129px;
  }
  .lg-prefix-2 {
    margin-left: 248px;
  }
  .lg-prefix-3 {
    margin-left: 367px;
  }
  .lg-prefix-4 {
    margin-left: 486px;
  }
  .lg-prefix-5 {
    margin-left: 605px;
  }
  .lg-prefix-6 {
    margin-left: 724px;
  }
  .lg-prefix-7 {
    margin-left: 843px;
  }
  .lg-prefix-8 {
    margin-left: 962px;
  }
  .lg-prefix-9 {
    margin-left: 1081px;
  }
  .lg-prefix-10 {
    margin-left: 1200px;
  }
  .lg-prefix-11 {
    margin-left: 1319px;
  }
  .lg-prefix-12 {
    margin-left: 1438px;
  }
  .lg-suffix-1 {
    margin-right: 129px;
  }
  .lg-suffix-2 {
    margin-right: 248px;
  }
  .lg-suffix-3 {
    margin-right: 367px;
  }
  .lg-suffix-4 {
    margin-right: 486px;
  }
  .lg-suffix-5 {
    margin-right: 605px;
  }
  .lg-suffix-6 {
    margin-right: 724px;
  }
  .lg-suffix-7 {
    margin-right: 843px;
  }
  .lg-suffix-8 {
    margin-right: 962px;
  }
  .lg-suffix-9 {
    margin-right: 1081px;
  }
  .lg-suffix-10 {
    margin-right: 1200px;
  }
  .lg-suffix-11 {
    margin-right: 1319px;
  }
  .lg-suffix-12 {
    margin-right: 1438px;
  }
  .lg-push-1 {
    left: 119px;
  }
  .lg-push-2 {
    left: 238px;
  }
  .lg-push-3 {
    left: 357px;
  }
  .lg-push-4 {
    left: 476px;
  }
  .lg-push-5 {
    left: 595px;
  }
  .lg-push-6 {
    left: 714px;
  }
  .lg-push-7 {
    left: 833px;
  }
  .lg-push-8 {
    left: 952px;
  }
  .lg-push-9 {
    left: 1071px;
  }
  .lg-push-10 {
    left: 1190px;
  }
  .lg-push-11 {
    left: 1309px;
  }
  .lg-push-12 {
    left: 1428px;
  }
  .lg-pull-1 {
    right: 119px;
  }
  .lg-pull-2 {
    right: 238px;
  }
  .lg-pull-3 {
    right: 357px;
  }
  .lg-pull-4 {
    right: 476px;
  }
  .lg-pull-5 {
    right: 595px;
  }
  .lg-pull-6 {
    right: 714px;
  }
  .lg-pull-7 {
    right: 833px;
  }
  .lg-pull-8 {
    right: 952px;
  }
  .lg-pull-9 {
    right: 1071px;
  }
  .lg-pull-10 {
    right: 1190px;
  }
  .lg-pull-11 {
    right: 1309px;
  }
  .lg-pull-12 {
    right: 1428px;
  }
  .row.isolate .lg-order-1, .row.isolate .lg-o-1 {
    margin-left: 119px;
  }
  .row.isolate .lg-order-2, .row.isolate .lg-o-2 {
    margin-left: 238px;
  }
  .row.isolate .lg-order-3, .row.isolate .lg-o-3 {
    margin-left: 357px;
  }
  .row.isolate .lg-order-4, .row.isolate .lg-o-4 {
    margin-left: 476px;
  }
  .row.isolate .lg-order-5, .row.isolate .lg-o-5 {
    margin-left: 595px;
  }
  .row.isolate .lg-order-6, .row.isolate .lg-o-6 {
    margin-left: 714px;
  }
  .row.isolate .lg-order-7, .row.isolate .lg-o-7 {
    margin-left: 833px;
  }
  .row.isolate .lg-order-8, .row.isolate .lg-o-8 {
    margin-left: 952px;
  }
  .row.isolate .lg-order-9, .row.isolate .lg-o-9 {
    margin-left: 1071px;
  }
  .row.isolate .lg-order-10, .row.isolate .lg-o-10 {
    margin-left: 1190px;
  }
  .row.isolate .lg-order-11, .row.isolate .lg-o-11 {
    margin-left: 1309px;
  }
  .row.isolate .lg-order-12, .row.isolate .lg-o-12 {
    margin-left: 1428px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    box-sizing: border-box;
    width: 1918px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-box {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .grid-box.guide-line::before {
    box-sizing: border-box;
    width: 1918px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(transparent 9px, #1827f1 10px);
    background-size: 1px 10px;
  }
  .grid-box.base-line::after {
    box-sizing: border-box;
    width: 1918px;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
    height: 100vh;
    z-index: 1000;
    top: 0;
    margin: 0 auto;
    display: block;
    background-origin: content-box;
    background-image: linear-gradient(90deg, rgba(135, 105, 81, 0.5) 0px, rgba(135, 105, 81, 0.5) 149px, transparent 149px, transparent 159px);
    background-size: 159px 1px;
  }
  .xl-hidden {
    display: none;
  }
  .xl-col-1 {
    width: 149px;
    margin-left: 10px;
  }
  .xl-col-2 {
    width: 308px;
    margin-left: 10px;
  }
  .xl-col-3 {
    width: 467px;
    margin-left: 10px;
  }
  .xl-col-4 {
    width: 626px;
    margin-left: 10px;
  }
  .xl-col-5 {
    width: 785px;
    margin-left: 10px;
  }
  .xl-col-6 {
    width: 944px;
    margin-left: 10px;
  }
  .xl-col-7 {
    width: 1103px;
    margin-left: 10px;
  }
  .xl-col-8 {
    width: 1262px;
    margin-left: 10px;
  }
  .xl-col-9 {
    width: 1421px;
    margin-left: 10px;
  }
  .xl-col-10 {
    width: 1580px;
    margin-left: 10px;
  }
  .xl-col-11 {
    width: 1739px;
    margin-left: 10px;
  }
  .xl-col-12 {
    width: 1898px;
    margin-left: 10px;
  }
  .xl-prefix-1 {
    margin-left: 169px;
  }
  .xl-prefix-2 {
    margin-left: 328px;
  }
  .xl-prefix-3 {
    margin-left: 487px;
  }
  .xl-prefix-4 {
    margin-left: 646px;
  }
  .xl-prefix-5 {
    margin-left: 805px;
  }
  .xl-prefix-6 {
    margin-left: 964px;
  }
  .xl-prefix-7 {
    margin-left: 1123px;
  }
  .xl-prefix-8 {
    margin-left: 1282px;
  }
  .xl-prefix-9 {
    margin-left: 1441px;
  }
  .xl-prefix-10 {
    margin-left: 1600px;
  }
  .xl-prefix-11 {
    margin-left: 1759px;
  }
  .xl-prefix-12 {
    margin-left: 1918px;
  }
  .xl-suffix-1 {
    margin-right: 169px;
  }
  .xl-suffix-2 {
    margin-right: 328px;
  }
  .xl-suffix-3 {
    margin-right: 487px;
  }
  .xl-suffix-4 {
    margin-right: 646px;
  }
  .xl-suffix-5 {
    margin-right: 805px;
  }
  .xl-suffix-6 {
    margin-right: 964px;
  }
  .xl-suffix-7 {
    margin-right: 1123px;
  }
  .xl-suffix-8 {
    margin-right: 1282px;
  }
  .xl-suffix-9 {
    margin-right: 1441px;
  }
  .xl-suffix-10 {
    margin-right: 1600px;
  }
  .xl-suffix-11 {
    margin-right: 1759px;
  }
  .xl-suffix-12 {
    margin-right: 1918px;
  }
  .xl-push-1 {
    left: 159px;
  }
  .xl-push-2 {
    left: 318px;
  }
  .xl-push-3 {
    left: 477px;
  }
  .xl-push-4 {
    left: 636px;
  }
  .xl-push-5 {
    left: 795px;
  }
  .xl-push-6 {
    left: 954px;
  }
  .xl-push-7 {
    left: 1113px;
  }
  .xl-push-8 {
    left: 1272px;
  }
  .xl-push-9 {
    left: 1431px;
  }
  .xl-push-10 {
    left: 1590px;
  }
  .xl-push-11 {
    left: 1749px;
  }
  .xl-push-12 {
    left: 1908px;
  }
  .xl-pull-1 {
    right: 159px;
  }
  .xl-pull-2 {
    right: 318px;
  }
  .xl-pull-3 {
    right: 477px;
  }
  .xl-pull-4 {
    right: 636px;
  }
  .xl-pull-5 {
    right: 795px;
  }
  .xl-pull-6 {
    right: 954px;
  }
  .xl-pull-7 {
    right: 1113px;
  }
  .xl-pull-8 {
    right: 1272px;
  }
  .xl-pull-9 {
    right: 1431px;
  }
  .xl-pull-10 {
    right: 1590px;
  }
  .xl-pull-11 {
    right: 1749px;
  }
  .xl-pull-12 {
    right: 1908px;
  }
  .row.isolate .xl-order-1, .row.isolate .xl-o-1 {
    margin-left: 159px;
  }
  .row.isolate .xl-order-2, .row.isolate .xl-o-2 {
    margin-left: 318px;
  }
  .row.isolate .xl-order-3, .row.isolate .xl-o-3 {
    margin-left: 477px;
  }
  .row.isolate .xl-order-4, .row.isolate .xl-o-4 {
    margin-left: 636px;
  }
  .row.isolate .xl-order-5, .row.isolate .xl-o-5 {
    margin-left: 795px;
  }
  .row.isolate .xl-order-6, .row.isolate .xl-o-6 {
    margin-left: 954px;
  }
  .row.isolate .xl-order-7, .row.isolate .xl-o-7 {
    margin-left: 1113px;
  }
  .row.isolate .xl-order-8, .row.isolate .xl-o-8 {
    margin-left: 1272px;
  }
  .row.isolate .xl-order-9, .row.isolate .xl-o-9 {
    margin-left: 1431px;
  }
  .row.isolate .xl-order-10, .row.isolate .xl-o-10 {
    margin-left: 1590px;
  }
  .row.isolate .xl-order-11, .row.isolate .xl-o-11 {
    margin-left: 1749px;
  }
  .row.isolate .xl-order-12, .row.isolate .xl-o-12 {
    margin-left: 1908px;
  }
}

.error .container {
  box-sizing: border-box;
  width: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.error .hidden {
  display: none;
}

.error .col-1 {
  width: -20px;
  margin-left: 10px;
}

.error .prefix-1 {
  margin-left: 0px;
}

.error .suffix-1 {
  margin-right: 0px;
}

.error .push-1 {
  left: -10px;
}

.error .pull-1 {
  right: -10px;
}
