<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../../static/css/libs/but_grid/grid_style.css">
    <link rel="stylesheet" href="../../../../static/css/view.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../../../static/js/tab-ui.js"></script>
    <title>card-ui-kt</title>
</head>
<body>
    <main>
        <section class="row">
            <div class="md-col-9 sm-col-9 xs-col-4 three-card-align">
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <div>
                            hello
                        </div>
                    </a>
                </article>
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <div>
                            hello
                        </div>
                    </a>
                </article>
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <div>
                            hello
                        </div>
                    </a>
                </article>
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <div>
                            hello
                        </div>
                    </a>
                </article>
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <div>
                            hello
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
<script src="../../../../static/js/waves.js" charset="utf-8"></script>
</body>
</html>
