<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../../static/css/libs/but_grid/grid_style.css">
    <link rel="stylesheet" href="../../../../static/css/view.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../../../static/js/tab-ui.js"></script>
    <title>card-ui-kt</title>
</head>
<body>
    <main>
        <section class="row">
            <div class="md-col-9 sm-col-9 xs-col-4 one-card-align">
                <article class="md-col-9 sm-col-9 xs-col-4">
                    <a href="#" class="content-card">
                        <div class="content-title">
                            " 생각의 경계 "
                        </div>
                        <div class="content-contents">
                            <p>
                                당신의 내면 작업 일지를 펴서 두 개의 리스트를<br>
                                <br>
                                만들어 보라. 첫째로 어른이 되어서 당신이 시작<br>
                                <br>
                                끝내지 못한 중요한<br>
                                <br>
                                프로젝트의 리스트를 만들어 보라.<br>
                                <br>
                                그러고 나서 당신이 완성한<br>
                                <br>
                                프로젝트의 리스트를 만들어 보라.
                            </p>
                        </div>
                        <div class="content-info">
                            <div>username</div>
                            <div>16년 11월 24일 20시</div>
                        </div>
                    </a>
                </article>
                <article class="md-col-9 sm-col-9 xs-col-4">
                    <a href="#" class="content-card">
                        <div class="card-content-01">
                            <div>
                                <img class="profile-img-content" src="../../../../src/images/userprofile/user_0003.png" alt="">
                                <p class="content-username">Username</p>
                            </div>
                            <button class="btn-default btn-content-cancle">구독취소</button>
                        </div>
                        <div class="open-ch-content-wrap">
                            <div class="line"></div>
                            <div class="content-title">
                                " 생각의 경계 "
                            </div>
                            <div class="content-contents">
                                <p>
                                    당신의 내면 작업 일지를 펴서 두 개의 리스트를<br>
                                    <br>
                                    만들어 보라. 첫째로 어른이 되어서 당신이 시작<br>
                                    <br>
                                    끝내지 못한 중요한<br>
                                    <br>
                                    프로젝트의 리스트를 만들어 보라.<br>
                                    <br>
                                    그러고 나서 당신이 완성한<br>
                                    <br>
                                    프로젝트의 리스트를 만들어 보라.
                                </p>
                            </div>
                            <div class="content-info">
                                <div>username</div>
                                <div>16년 11월 24일 20시</div>
                            </div>
                        </div>
                    </a>
                </article>
        </section>
    </main>
<script src="../../../../static/js/waves.js" charset="utf-8"></script>
</body>
</html>
