<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../../static/css/libs/but_grid/grid_style.css">
    <link rel="stylesheet" href="../../../../static/css/view.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../../../static/js/tab-ui.js"></script>
    <title>card-ui-kt</title>
</head>
<body>
    <main>
        <section class="row">
            <div class="md-col-9 sm-col-9 xs-col-4 three-card-align">
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <p class="topic-list-time">
                            낮의 주제
                        </p>
                        <p class="topic-list-title">
                            끌림에 대하여
                        </p>
                        <div class="topic-list-info">
                            <span>#257</span>
                            <span>/</span>
                            <span>16.11.29</span>
                        </div>
                        <button class="motif-write-btn" type="button" name="button"><img src="../../../../src/images/icons/write-btn-normal@2x.png" alt=""></button>
                    </a>
                </article>
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <p class="topic-list-time">
                            낮의 주제
                        </p>
                        <p class="topic-list-title">
                            끌림에 대하여
                        </p>
                        <div class="topic-list-info">
                            <span>#257</span>
                            <span>/</span>
                            <span>16.11.29</span>
                        </div>
                        <button class="motif-write-btn" type="button" name="button"><img src="../../../../src/images/icons/write-btn-normal@2x.png" alt=""></button>
                        <div>
                            <div class="open-txt">공개</div>
                            <div class="triangle-open"></div>
                        </div>
                    </a>
                </article>
                <article class="md-col-3 sm-col-3 xs-col-4">
                    <a href="#" class="waves-effect waves-mint motif-card">
                        <p class="topic-list-time">
                            낮의 주제
                        </p>
                        <p class="topic-list-title">
                            끌림에 대하여
                        </p>
                        <div class="topic-list-info">
                            <span>#257</span>
                            <span>/</span>
                            <span>16.11.29</span>
                        </div>
                        <button class="motif-write-btn" type="button" name="button"><img src="../../../../src/images/icons/write-btn-normal@2x.png" alt=""></button>
                        <div>
                            <div class="close-txt">비공개</div>
                            <div class="triangle-close"></div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>

<script src="../../../../static/js/waves.js" charset="utf-8"></script>
</body>
</html>
