/////////////////////////////////////////////////////////
//  default
/////////////////////////////////////////////////////////

$card-height: 140px

body
    background-color: $background-color

.page-top-section
    +respond-to($xs-container-width)
        padding-top: 8px
        padding-bottom: 8px
        background-color: $basic-white
        box-shadow: 0 2px 2px 0 $gray-400
        margin-bottom: 18px
    +respond-to($sm-container-width)
        padding-top: 89px
        padding-bottom: 33px
    +respond-to($md-container-width)
        padding-top: 89px
        padding-bottom: 33px

/////////////////////////////////////////////////////////
//  tab
/////////////////////////////////////////////////////////
.tab-list
    display: block
    &::after
        @extend %clear-fix
    +respond-to($xs-container-width)
        box-sizing: border-box
        padding-left: 10px
        padding-right: 10px
    li
        float: left
        list-style: none
        cursor: pointer
        position: relative
        outline: none
    li
        display: block
        box-sizing: border-box
        background-color: $background-color
        width: 50%
        text-decoration: none
        &:focus
            border-color: $support-blue-3 !important
            color: $support-blue-3 !important
        +respond-to($xs-container-width)
            padding: 9px
            border-bottom: 2px solid $gray-500
        +respond-to($sm-container-width)
            padding: 13px
            border-bottom: 3px solid $gray-500
        +respond-to($md-container-width)
            padding: 13px
            border-bottom: 3px solid $gray-500


[aria-selected="true"]
    color: $basic-blue !important
    +respond-to($xs-container-width)
        border-bottom: 2px solid $basic-blue !important
    +respond-to($sm-container-width)
        border-bottom: 3px solid $basic-blue !important
    +respond-to($md-container-width)
        border-bottom: 3px solid $basic-blue !important

.unvisual
    display: none

.tab-contnents
    +respond-to($xs-container-width)
        margin-top: 18px
    +respond-to($sm-container-width)
        margin-top: 25px
    +respond-to($md-container-width)
        margin-top: 25px

/////////////////////////////////////////////////////////
//  txt default
/////////////////////////////////////////////////////////
.card-bookmark-writing
    display: block
    box-sizing: border-box
    text-decoration: none
    margin-bottom: 10px
    @extend %card-normal
    &:focus
        @extend %card-focus
    &:hover
        @extend %card-hover
    &:active
        @extend %card-normal
    +respond-to($xs-container-width)
        height: 219px
    +respond-to($sm-container-width),
        height: $card-height
    +respond-to($md-container-width)
        height: $card-height

.bookmark-section1
    +respond-to($xs-container-width)
        width: 300px
        position: absolute
        left: 0
        bottom: 0
        height: 71px
        border-top: 1px solid $gray-400
    +respond-to($sm-container-width)
        width: percentage(136px / 844px)
        height: $card-height
        float: left
        border-right: 1px solid $gray-400
    +respond-to($md-container-width)
        width: percentage(136px / 844px)
        height: $card-height
        float: left
        border-right: 1px solid $gray-400

.bookmark-section2
    &::after
        @extend %clear-fix
    +respond-to($xs-container-width)
        position: absolute
        left: 0
        top: 0
        width: 300px
    +respond-to($sm-container-width)
        width: percentage(706px / 844px)
        height: $card-height
        position: relative
        float: left
        box-sizing: border-box
        padding: 12px 26px 12px 26px
    +respond-to($md-container-width)
        width: percentage(706px / 844px)
        height: $card-height
        position: relative
        float: left
        box-sizing: border-box
        padding: 12px 26px 12px 26px


.profile-img
    display: block
    overflow: hidden
    border-radius: 100%
    +respond-to($xs-container-width)
        display: inline-block
        width: 39px
        height: 39px
        margin: 16px
        float: left
    +respond-to($sm-container-width)
        width: 68px
        height: 68px
        margin: 22px 34px 16px
    +respond-to($md-container-width)
        width: 68px
        height: 68px
        margin: 22px 34px 16px




.username
    display: block
    text-align: center
    +respond-to($xs-container-width)
        text-align: left
        float: left
        padding: 25px 0
    +respond-to($sm-container-width)
        margin:
            top: 17px
            left: 28px
            right: 28px
            bottom: 12px
    +respond-to($md-container-width)
        margin:
            top: 17px
            left: 28px
            right: 28px
            bottom: 12px

.card-content-heading
    +respond-to($xs-container-width)
        display: inline-block
        padding:
            top: 16px
            left: 16px
    +respond-to($sm-container-width)
        display: block
        margin-bottom: 41px
    +respond-to($md-container-width)
        display: block
        margin-bottom: 41px

.card-content-text
    position: absolute
    +respond-to($xs-container-width)
        top: 66px
        left: 0
        width: 300px
        box-sizing: border-box
        padding:
            left: 16px
            right: 16px
            bottom: 16px
    +respond-to($sm-container-width)
        padding:
            left: 26px
            right: 26px
            bottom: 12px
        bottom: 0
        left: 0
    +respond-to($md-container-width)
        padding:
            left: 26px
            right: 26px
            bottom: 12px
        bottom: 0
        left: 0

.card-info-date
    display: block
    position: absolute
    +respond-to($xs-container-width)
        top: 0
        right: 0
        margin:
            top: 16px
            right: 16px
    +respond-to($sm-container-width)
        top: 0
        right: 0
        margin:
            top: 14px
            right: 26px
    +respond-to($md-container-width)
        top: 0
        right: 0
        margin:
            top: 14px
            right: 26px

.book-mark-author
    position: relative
    text-decoration: none

.profile-img-author
    display: block
    overflow: hidden
    border-radius: 100%
    +respond-to($xs-container-width)
        display: inline-block
        width: 39px
        height: 39px
        margin: 16px
        float: left
    +respond-to($sm-container-width)
        width: 110px
        height: 110px
        margin:
            top: 42px
            left: 79px
            right: 79px
            bottom: 25px
    +respond-to($md-container-width)
        width: 110px
        height: 110px
        margin:
            top: 42px
            left: 79px
            right: 79px
            bottom: 25px

.book-mark-author-username
    text-decoration: none
    +respond-to($xs-container-width)
        text-align: left
        float: left
        padding: 25px 0
        width: 130px
    +respond-to($sm-container-width)
        padding: 0 18px
    +respond-to($md-container-width)
        padding: 0 18px

.book-mark-author-caption
    margin-top: 24px
    padding: 0 18px


.btn-bookmark-cancle
    display: block
    margin:
        top: 39px
        left: auto
        right: auto

#section1 > article
    margin-left: 0
    position: relative
    +respond-to($xs-container-width)
        box-sizing: border-box
        padding-left: 10px
        padding-right: 10px
    +respond-to($sm-container-width)
        margin-left: 0
    +respond-to($md-container-width)
        margin-left: 0

#section2
    +respond-to($xs-container-width)
        & > article
            box-sizing: border-box
            padding-left: 10px
            padding-right: 10px
            margin-left: 0
    +respond-to($sm-container-width)
        & > article:nth-child(3n)
            margin-right: 0
        & > article:nth-child(3n+1)
            margin-left: 0
    +respond-to($md-container-width)
        & > article:nth-child(3n)
            margin-right: 0
        & > article:nth-child(3n+1)
            margin-left: 0

.author-wrap
    +respond-to($xs-container-width)
        width: 300px
