// import 
@import "common-init"
@import "libs/but_grid/_vars"
@import "libs/but_grid/_functions"
@import "common-mixin"
@import "libs/but_grid/_mixins"
@import "libs/but_grid/_placeholder"


/**-------------------------
 * 	common style
 ------------------------- */
 /* Fluid */
/* header */
.header
	@extend %box-sizing
	+setWH(100%, 34px)
	+setPosition(fixed, top 0 left 0 z-index 999)
	+setFont(size 14px)

	min-width: 320px
	color: #fff
	background-color: #51bcd8
.nav-container
	display: flex
	align-items: center
	justify-content: center
	height: 34px

.logo
	// +setWH(112px, 18px)
	+setWH(150px, 20px)

	display: inline-block

.logo-but-white
	@extend %a
	+setFont(size 14px)

	color: #fff
.logo-main
	@extend %box-sizing
	+setWH(20px, 20px)
	
	display: inline-block
	text-align: center
	border: 1px solid #fff
.logo-text
	+setWH(94px,18px)

	

/* mask */
#mask
	position: absolute;
	background-color: #000;
	display: none;
	left: 0;
	top: 0;
	z-index: 99;


.header [id^="btn-"]
	+setWH(16px, 16px)
	+setPosition(absolute, top 9px)

	background-color: none
.header [id^="btn-"] > img
	+setWH(16px, 16px)

	display: block
	background-color: #51bcd8
	color: #fff

#btn-menu
	left: 15px
	cursor: pointer
	border: 0

#btn-date
	right: 16px
	cursor: pointer
	// background-color: none
	border: 0

	

/* menu */
.navigation
	// +setWH(214px, 568px)
	+setWH(214px, 100vh)
	+setPosition(absolute, top 0 left -238px z-index 99999)

	min-height: 568px
	background-color: #51bcd8

.profile-box
	+setWH(100%, auto)

	margin-top: 50px
	
.profile
	@extend %clearfix
	+setWH(100%, 70px)

	display: block
	background-color: #14a6cc
.user-profile
	+setWH(50px, 50px)

	overflow: hidden
	float: left
	border-radius: 50%
	margin: 10px 14px 10px 12px
.pen-name
	+setWH(110px, 20px)
	+setFont(size 14px weight bold)

	float: left
	color: #fff
	margin: 25px 0
	margin-right: 28px

.menu-list
	margin-top: 19px
.list:hover
	background-color: #0e8cad
.list
	+setWH(214px, 48px)
.list > a
	@extend %a
	+setWH(182px, 24px)
	+setFont(size 16px weight 500)

	display: block
	text-align: center
	padding: 12px 16px

.option-box
	@extend %clearfix
	+setWH(100%, 66px)
	+setPosition(absolute, bottom 113px)

	border-top: 1px solid #fff
	border-bottom: 1px solid #fff
.btn-option
	@extend %box-sizing
	@extend %a
	+setWH(89px, 36px)
	+setFont(size 12px weight 500)

	color: #fff
	text-align: center
	margin: 15px 0
	border: 0
	background-color: #0e8cad
.btn-logout, .btn-login
	float: left
	margin-left: 17px
	cursor: pointer
.btn-login
	padding: 9px  0
.btn-setting
	float: left
	padding: 9px  0
	margin-left: 1px
	margin-right: 17px

.footer
	+setPosition(absolute, bottom 26px)
.sns-box
	@extend %clearfix

	margin-top: 24px
.sns-box > a
	+setWH(24px, 24px)

	display: block
	float: left
.sns-box > a > img
	+setWH(24px, 24px)
.sns-twitter
	margin-left: 46px
.sns-facebook
	margin: 0 25px
.sns-instagram
	margin-right: 46px

.copyright
	+setWH(110px, 32px)
	+setFont(size 10px)

	text-align: center
	line-height: 16px
	margin: 0 auto
	margin-top: 7px

.btn-close
	+setWH(24px, 24px)

	color: #fff
	cursor: pointer
	border: 1px solid #14a6cc
	background-color: #14a6cc

#nav-btn-close
	+setPosition(absolute, top 0 right -24px)


/* aside */
.aside
	// +setWH(260px, 568px)
	+setWH(260px, 100vh)
	+setPosition(absolute, top 0 right -284px z-index 99999)

	min-height: 568px
	background-color: #fff

.search-date
	+setWH(100%, 42px)
	+setPosition(absolute, top 0 right 0)

	border-bottom: 1px solid #9e9e9e

	&::after
		@extend %clearfix
.search-date > form
	+setWH(100%, 42px)
.search-date label
	@extend %box-sizing
	+setWH(35px, 42px)

	padding: 11.5px 9.8px 14.2px 8.8px
	float: left
.search-date label > img
	+setWH(16.3px, 16.3px)

	display: block

.search
	@extend %box-sizing
	+setWH(216px, 42px)

	padding: 12.2px 8.8px 13.5px 0
	float: left

	&::after
		+setWH(16.3px, 16.3px)
		+setPosition(absolute, top 10.2px right 21px)

		content: url(../../images/icon/ic_arrow_down.svg)
		display: block
.search > input
	+setWH(191px, 16.3px)
	+setFont(size 11px)

	display: block
	color: #424242
	border: 0

.slide-box
	@extend %box-sizing
	+setWH(100%, 412px)
	+setPosition(absolute, top 42px)

	padding: 0 24px
.slide-content
	+setWH(100%, 184px)

	margin-top: 22px
	border-top: 1px solid #9e9e9e
.slide-day
	+setWH(100%, 56px)
	+setFont(size 38px weight 300)

	color: #51bcd8
	text-align: right
	margin-bottom: 3px
.slide-topic-box
	text-align: right
.slide-day-topic, .slide-night-topic
	+setWH(100%, 18px)
	+setFont(size 12px weight normal)

	color: #616161
.slide-topic
	@extend %a
	+setWH(100%, 24px)
	+setFont(size 16px weight 500)

	color: #616161
	margin-bottom: 14px
.slide-last-topic
	margin-bottom: 22px

.static-btn-bottom-aside
	+setPosition(absolute, bottom 0)
.page-number
	display: flex;
	align-items: center;
	padding: 15px 30px;
	box-sizing: border-box;
.number
	@extend %box-sizing
	+setWH(69px, 18px)
	+setFont(size 12px weight bold)
	
	color: #757575
	text-align: center
	padding: 0 22px
.line
	width: 66px;
	border-top: 1px solid #757575;
	margin: 8px 0

.static-btn
	@extend %clearfix
	// +setPosition(absolute, bottom 0)

.static-btn [class^="btn-"]
	+setWH(129.6px, 34px)

	float: left
	border: 1px solid #e0e0e0
	background-color: #e0e0e0
.static-btn [class^="btn-"] > img
	display: block
	margin: 0 auto
.btn-up
	margin-right: 0.7px

#aside-btn-close
	+setPosition(absolute, top 0 left -24px)
	
	+respond-to($md-container-width)
		display: none


/**-------------------------
 * 	Mobile & Tablet
 ------------------------- */




/**-----------------
 * 	Desktop
 ----------------- */
 /* static */
@media (min-width: 1024px)
	/* outer */
	// .outer
	// 	+setWH(1024px, auto)

	
@media (min-width: 1440px)
	/* header */
	.header
		+setWH(100%, 62px)
		padding-right: 364px;
	.nav-container
		+setWH(100%, 62px)
		margin: 0 auto

	/* logo */
	.logo
		+setWH(210px, 29px)
	.logo-but-white
		+setFont(size 16px)
	.logo-main
		+setWH(29px, 29px)
	.logo-text
		+setWH(160px,27px)
		display: inline-block

	.header [id^="btn-"]
		+setWH(24px, 24px)
		+setPosition(absolute, top 19px)

	.header [id^="btn-"] > img
		+setWH(24px, 24px)

	#btn-menu
		left: 25px
	#btn-date
		display: none

	/* aside */
	.aside
		+setWH(364px, 100vh)
		+setPosition(absolute, top 0 right 0 z-index 99999)
	

	#aside-btn-close



