// import 
@import "common-init"
@import "libs/but_grid/_vars"
@import "libs/but_grid/_functions"
@import "common-mixin"
@import "libs/but_grid/_mixins"
@import "libs/but_grid/_placeholder"

/* main */
.main
	+setPosition(relative, left 0)
	// +setWH(320px, 534px)

	min-width: 320px
	min-height: 534px
	height: 100vh

.today-topic
	@extend %box-sizing
	+setWH(100%, auto)
	font-size: px2vw(12, $xs-container-width)

	color: #424242
	text-align: center
	padding: px2vw(4, $xs-container-width)
	padding-top: 94px

.topic
	@extend %box-sizing
	+setWH(100%, auto)
	font-size: px2vw(38, $xs-container-width)

	color: #424242
	text-align: center
	padding-top: 20px

.topic-text
	display: none

.btn-main
	@extend %a
	@extend %box-sizing
	+setWH(px2vw(128, $xs-container-width), px2vw(36, $xs-container-width))
	+setPosition(absolute, left 96px right 96px z-index 9)
	// +setFont(size 12px weight 500)

	font-size: px2vw(12, $xs-container-width)
	font-weight: 500
	display: block
	color: #616161
	text-align: center
	padding: px2vw(9, $xs-container-width) px2vw(10, $xs-container-width)
	margin: 0 auto
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07)
	border: 1px solid #9e9e9e
	border-radius: 2px
	background-color: #f5f5f5
	
.go-to-write
	bottom: px2vw(120, $xs-container-width)
	// bottom: 120px

.go-to-opench
	bottom: px2vw(76, $xs-container-width)
	// bottom: 76px




/**-----------------
 * 	Desktop
 ----------------- */
 /* static */
@media (min-width: 1024px)
	.today-topic
		font-size: px2vw(12, $sm-container-width)
		padding: px2vw(4, $sm-container-width)
		padding-top: px2vw(94, $sm-container-width)

	.topic
		font-size: px2vw(38, $sm-container-width)
		padding-top: px2vw(20, $sm-container-width)

	.btn-main
		+setWH(px2vw(128, $sm-container-width), px2vw(36, $sm-container-width))
		font-size: px2vw(12, $sm-container-width)
		padding: px2vw(9, $sm-container-width) px2vw(10, $sm-container-width)
		text-align: center

	.go-to-write
		bottom: px2vw(120, $sm-container-width)
	.go-to-opench
		bottom: px2vw(76, $sm-container-width)

	
@media (min-width: 1440px)
	.main
		padding-right: 364px;

	.container
		width: 100%

	.today-topic
		+setWH(191px, auto)
		
		text-align: center
		font-size(24)
		padding: 11px
		padding-top: 322px
