html,
body,
header,
main,
section,
aside,
img,
div,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
form,
fieldset,
label,
textarea,
span,
input {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

ul {
  list-style: none;
}

.logo-but-white,
.list>a,
.btn-option,
.slide-topic {
  display: block;
  text-decoration: none;
  color: #fff;
}

.header,
.logo-main,
.option-box,
.btn-option,
.search-date label,
.search,
.search>input,
.slide-box,
.number,
section .main-content {
  box-sizing: border-box;
}

.profile::after,
.option-box::after,
.sns-box::after,
.search-date::after,
.static-btn::after {
  content: '';
  display: block;
  clear: both;
}

.col-float {
  float: left;
}

.col-postion-r {
  position: relative;
}

.header {
  width: 100%;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: 14px;
  line-height: 1.5;
  min-width: 320px;
  color: #fff;
  background-color: #51bcd8;
}

.nav-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 52px;
}

.logo {
  width: 160px;
  height: 24px;
  display: inline-block;
}

.logo-but-white {
  line-height: 1.5;
  color: #fff;
}

.logo-main {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
}

.logo-text {
  width: 120px;
  height: 24px;
}

#mask {
  position: absolute;
  background-color: #000;
  display: none;
  left: 0;
  top: 0;
  z-index: 99;
}

.header [id^="btn-"] {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  background-color: none;
}

.header [id^="btn-"]>img {
  width: 24px;
  height: 24px;
  display: block;
  background-color: #51bcd8;
  color: #fff;
}

#btn-menu {
  left: 15px;
  cursor: pointer;
  border: 0;
}

#btn-date {
  right: 16px;
  cursor: pointer;
  border: 0;
}

.navigation {
  width: 260px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -310px;
  z-index: 999999;
  min-height: 568px;
  box-shadow: 8px 0 8px 0 rgba(0,0,0,0.25);
  background-color: #51bcd8;
}

.profile-box {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.profile {
  width: 100%;
  height: 70px;
  display: block;
  background-color: #14a6cc;
}

.user-profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  margin: 10px 14px 10px 12px;
}

.pen-name {
  width: 156px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  float: left;
  color: #fff;
  text-align: center;
  margin: 25px 0;
  margin-right: 28px;
}

.menu-list {
  margin-top: 5.9375vw;
}

.list:hover {
  background-color: #0e8cad;
}

.list {
  width: 100%;
  height: 48px;
}

.list>a {
  width: auto;
  height: 24px;
  font-size: 1.1429rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  padding: 12px 16px;
}

.option-box {
  width: 100%;
  height: 66px;
  position: absolute;
  bottom: 113px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.btn-option {
  width: 89px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin: 15px 0;
  border: 0;
  background-color: #0e8cad;
}

.btn-logout,
.btn-login {
  float: left;
  margin-left: 17px;
  cursor: pointer;
}

.btn-login {
  padding: 9px  0;
}

.btn-setting {
  float: left;
  padding: 9px  0;
  margin-left: 1px;
  margin-right: 17px;
}

.footer {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 26px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sns-box {
  margin-top: 24px;
}

.sns-box>a {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
}

.sns-box>a>img {
  width: 24px;
  height: 24px;
}

.sns-twitter {
  margin-left: 46px;
}

.sns-facebook {
  margin: 0 25px;
}

.sns-instagram {
  margin-right: 46px;
}

.copyright {
  width: 110px;
  height: 32px;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
}

.btn-close {
  width: 50px;
  height: 50px;
  font-size: 1.7143rem;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  border: 0;
  background: none;
}

#nav-btn-close {
  position: absolute;
  top: 0;
  right: -50px;
}

.aside {
  width: 260px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -310px;
  z-index: 999;
  min-height: 568px;
  background-color: #fff;
}

.search-date {
  width: 100%;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #9e9e9e;
}

.search-date>form {
  width: 100%;
  height: 42px;
}

.search-date label {
  width: 35px;
  height: 42px;
  padding: 11.5px 9.8px 14.2px 8.8px;
  float: left;
}

.search-date label>img {
  width: 16.3px;
  height: 16.3px;
  display: block;
}

.search {
  width: 216px;
  height: 42px;
  padding: 10.2px 8.8px 15.5px 0;
  float: left;
}

.search::after {
  width: 16.3px;
  height: 16.3px;
  position: absolute;
  top: 12.2px;
  right: 21px;
  content: url(../images/icons/ic_arrow_down.svg);
  display: block;
}

.search>input {
  width: 85px;
  height: 18px;
  font-size: 12px;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  color: #424242;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
}

.search>input:nth-child(2) {
  margin-left: 5px;
}

.slide-box {
  width: 100%;
  height: 412px;
  position: absolute;
  top: 42px;
  padding: 0 24px;
}

.slide-content {
  width: 100%;
  height: 184px;
  margin-top: 22px;
  border-top: 1px solid #9e9e9e;
}

.slide-day {
  width: 100%;
  height: 56px;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.5;
  color: #51bcd8;
  text-align: right;
  margin-bottom: 3px;
}

.slide-topic-box {
  text-align: right;
}

.slide-day-topic {
  width: 100%;
  height: 18px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  color: #616161;
}

.slide-topic {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #616161;
  margin-bottom: 14px;
}

.static-btn-bottom-aside {
  position: absolute;
  bottom: 50;
  width: 100%;
}

.page-number {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 30px;
  box-sizing: border-box;
}

.number {
  width: 69px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: #757575;
  text-align: center;
  padding: 0 22px;
}

.line {
  width: 66px;
  border-top: 1px solid #757575;
  margin: 8px 0;
}

.static-btn [class^="btn-"] {
  width: 129.6px;
  height: 34px;
  float: left;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
}

.static-btn [class^="btn-"]>img {
  display: block;
  margin: 0 auto;
}

.btn-up {
  margin-right: 0.7px;
}

#aside-btn-close {
  position: absolute;
  top: 0;
  left: -50px;
}

section .main-content {
  width: 100%;
  padding-top: 52px;
}

section .write-box-wrap {
  margin: 0;
}

@media only screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 62px;
    padding-right: 374px;
  }

  .nav-container {
    width: 100%;
    height: 62px;
    margin: 0 auto;
  }

  .logo {
    width: 210px;
    height: 29px;
  }

  .logo-but-white {
    font-size: 16px;
  }

  .logo-main {
    width: 29px;
    height: 29px;
  }

  .logo-text {
    width: 160px;
    height: 27px;
    display: inline-block;
  }

  .header [id^="btn-"] {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 13px;
  }

  .header [id^="btn-"]>img {
    width: 35px;
    height: 35px;
  }

  #btn-menu {
    left: 20px;
  }

  #btn-date {
    display: none;
  }

  .navigation {
    width: 364px;
    height: 100vh;
    min-height: 568px;
    left: -414px;
  }

  .profile {
    width: 100%;
    height: 100px;
  }

  .user-profile {
    width: 80px;
    height: 80px;
  }

  .pen-name {
    width: 240px;
    height: 40px;
    font-size: 1.2857rem;
    line-height: 1.5;
    margin: 30px 0;
  }

  .list {
    width: 100%;
    height: 78px;
  }

  .list>a {
    width: auto;
    height: 44px;
    font-size: 1.4286rem;
    line-height: 1.5;
    padding: 17px 16px;
  }

  .option-box {
    width: 100%;
    height: 76px;
    position: absolute;
    bottom: 133px;
  }

  .btn-option {
    width: 124px;
    height: 46px;
    font-size: 1.1429rem;
    line-height: 1.5;
  }

  .sns-box>a>img {
    width: 30px;
    height: 30px;
  }

  .sns-twitter {
    margin-left: 26px;
  }

  .sns-facebook {
    margin: 0 45px;
  }

  .sns-instagram {
    margin-right: 26px;
  }

  .copyright {
    width: 160px;
    height: 42px;
    font-size: .8571rem;
    line-height: 1.5;
    margin-top: 15px;
  }

  .aside {
    width: 364px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }

  .search-date {
    width: 100%;
    height: 62px;
  }

  .search-date>form {
    width: 100%;
    height: 62px;
  }

  .search-date label {
    width: 50px;
    height: 62px;
    padding: 17px 13px 21px 13px;
  }

  .search-date label>img {
    width: 24px;
    height: 24px;
  }

  .search {
    width: 310px;
    height: 62px;
    padding: 19px 55px 23px 0;
  }

  .search::after {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    right: 12px;
  }

  .search>input {
    width: 115px;
    height: 25px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 4px;
    padding-left: 3px;
  }

  .search>input:nth-child(2) {
    margin-left: 7px;
  }

  .slide-box {
    width: 100%;
    height: 866px;
    position: absolute;
    top: 62px;
    padding: 20px 38px 0 38px;
  }

  .slide-content {
    width: 100%;
    height: 236px;
    margin-top: 26px;
  }

  .slide-day {
    width: 100%;
    height: 77px;
    font-size: 3.7143rem;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  .slide-day-topic {
    font-size: 1.1429rem;
    line-height: 1.5;
  }

  .slide-topic {
    width: 100%;
    height: 29px;
    font-size: 1.4286rem;
    line-height: 1.5;
  }

  .static-btn-bottom-aside {
    position: absolute;
    bottom: 0;
  }

  .static-btn [class^="btn-"] {
    width: 182px;
    height: 48px;
  }

  .btn-up {
    margin-right: 0;
  }

  #aside-btn-close {
    display: none;
  }

  section .container {
    width: 100%;
  }

  section .main-content {
    float: none;
    padding-top: 62px;
  }

  section .write-box-wrap {
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  section .write-box-wrap {
    float: none;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=../maps/common.css.map */
