@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.txt-slide-date {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.txt-slide-search-date,
.txt-slide-time {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.txt-btn-default,
.txt-btn-default-disabled,
.txt-btn-solid,
.txt-btn-danger,
.btn-default,
.btn-join,
.btn-login,
.txt-btn-main,
.txt-btn-main-disabled,
.txt-btn-menu,
.txt-nav-usercaption,
.txt-slide-title,
.txt-card-setting-input,
.txt-card-setting-info,
.btn-danger {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.txt-nav-username,
.txt-nav-footer,
.txt-slide-pagination,
.txt-card-my-ch-label,
.txt-card-setting-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.txt-main-title,
.txt-card-bookmark-writing-content,
.input-group label,
input[placeholder],
.login-subtitle,
.login-caption,
.findpw {
  font-family: 'NanumMyeongjo', serif;
  font-style: normal;
  font-weight: 400;
}

.txt-card-title,
.txt-card-contents,
.txt-card-date,
.txt-card-username,
.txt-main-caption,
.txt-page-date,
.txt-card-bookmark-writing-title,
.txt-card-bookmark-writing-date,
.txt-card-bookmark-usercaption,
.txt-card-topic-list-time,
.txt-card-topic-list-info {
  font-family: 'NanumMyeongjo', serif;
  font-style: normal;
  font-weight: 600;
}

.txt-page-title,
.txt-main-date,
.txt-tab-normal,
.txt-card-bookmark-username,
.txt-card-topic-list-title,
.login-text,
.login-title {
  font-family: 'NanumMyeongjo', serif;
  font-style: normal;
  font-weight: 700;
}

.txt-page-title {
  text-align: center;
  color: #14a6cc;
}

.txt-card-title {
  color: #616161;
}

.txt-card-contents {
  color: #616161;
}

.txt-card-date {
  color: #616161;
}

.txt-card-username {
  color: #424242;
}

.txt-btn-default,
.txt-btn-default-disabled,
.txt-btn-solid,
.txt-btn-danger,
.btn-default,
.btn-join,
.btn-login {
  font-size: 12px;
  text-align: center;
  color: #616161;
}

.txt-btn-default-disabled {
  color: #bdbdbd;
}

.txt-btn-solid {
  color: #fff;
}

.txt-btn-danger {
  color: #f44c52;
}

.txt-btn-main,
.txt-btn-main-disabled {
  color: #616161;
  text-align: center;
}

.txt-btn-main-disabled {
  color: #bdbdbd;
}

.txt-btn-menu {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.txt-main-date {
  color: #424242;
  text-align: left;
}

.txt-main-title {
  color: #9e9e9e;
}

.txt-main-caption {
  font-size: 16px;
  color: #424242;
}

.txt-page-date {
  text-align: center;
  color: #424242;
}

.txt-nav-username {
  text-align: center;
  color: #fff;
}

.txt-nav-usercaption {
  text-align: center;
  color: #fff;
}

.txt-nav-footer {
  text-align: center;
  color: #fff;
}

.txt-slide-search-date {
  color: #424242;
}

.txt-slide-date {
  color: #51bcd8;
  text-align: right;
}

.txt-slide-time {
  color: #616161;
  text-align: right;
}

.txt-slide-title {
  color: #616161;
  text-align: right;
}

.txt-slide-pagination {
  color: #757575;
  text-align: center;
}

.txt-tab-normal {
  text-align: center;
  color: #9e9e9e;
}

.txt-card-bookmark-writing-title {
  color: #424242;
}

.txt-card-bookmark-writing-content {
  color: #424242;
}

.txt-card-bookmark-writing-date {
  color: #757575;
}

.txt-card-bookmark-username {
  color: #424242;
}

.txt-card-topic-list-time {
  color: #616161;
}

.txt-card-topic-list-title {
  color: #616161;
}

.txt-card-topic-list-info {
  color: #616161;
}

.txt-card-my-ch-label {
  text-align: right;
  color: #fff;
}

.txt-card-setting-title {
  color: #fe8b90;
  text-align: left;
}

.txt-card-setting-input {
  color: #0e8cad;
  text-align: left;
}

.txt-card-setting-info {
  color: #51bcd8;
  text-align: left;
}

body {
  line-height: 1.5;
}

.btn-default,
.btn-join,
.btn-login {
  display: block;
  border: 1px solid #616161;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.07);
  cursor: pointer;
  border-radius: 2px;
  transition: box-shadow 0.2s ease;
}

.btn-default:hover,
.btn-join:hover,
.btn-login:hover {
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px rgba(0,0,0,0.07);
  outline: none;
  transition: box-shadow 0.2s ease;
}

.btn-default:active,
.btn-join:active,
.btn-login:active {
  background-color: #f5f5f5;
  box-shadow: none;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.btn-default:disabled,
.btn-join:disabled,
.btn-login:disabled {
  color: #bdbdbd;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;
  transition: box-shadow 0.2s ease;
}

.btn-default:focus,
.btn-join:focus,
.btn-login:focus {
  background-color: #f5f5f5;
  box-shadow: none;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.btn-danger {
  display: block;
  font-size: 12px;
  text-align: center;
  color: #616161;
  border: 1px solid #616161;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.07);
  cursor: pointer;
  border-radius: 2px;
  transition: box-shadow 0.2s ease;
}

.btn-danger:hover {
  border: 1px solid #fe8b90;
  background-color: #fff5f5;
  color: #f44c52;
  box-shadow: 0 1px 1px rgba(0,0,0,0.07);
  outline: none;
  transition: box-shadow 0.2s ease;
}

.btn-danger:active {
  background-color: #fff5f5;
  color: #f44c52;
  border: 1px solid #fe8b90;
  box-shadow: none;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.btn-danger:disabled {
  color: #bdbdbd;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;
  transition: box-shadow 0.2s ease;
}

.btn-danger:focus {
  background-color: #fff5f5;
  box-shadow: none;
  outline: none;
  transition: box-shadow 0.2s ease;
}

.login-btn-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.login-bg {
  background-image: url(/static/images/background/loginbg.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.form-wrap {
  position: relative;
  height: 100vh;
}

.form-position {
  position: absolute;
}

.login-text {
  color: #fff;
  text-align: center;
}

.input-group {
  color: #fff;
}

.input-group label {
  display: block;
  text-align: left;
}

input {
  border: 0;
  border-radius: 2px;
  color: #424242;
}

.btn-join {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  float: right;
}

.btn-login {
  display: inline-block;
  margin: 0;
  float: left;
}

.login-btns-position {
  position: relative;
}

.findpw {
  position: absolute;
  color: #bdbdbd;
  cursor: pointer;
  text-decoration: none;
  right: 0;
}

@media only screen and (min-width: 1440px) {
  .txt-page-title {
    font-size: 36px;
  }

  .txt-card-title {
    font-size: 22px;
  }

  .txt-card-contents {
    font-size: 14px;
  }

  .txt-card-date {
    font-size: 12px;
  }

  .txt-card-username {
    font-size: 14px;
  }

  .txt-btn-main,
  .txt-btn-main-disabled {
    font-size: 18px;
  }

  .txt-btn-main-disabled {
    font-size: 18px;
  }

  .txt-main-date {
    font-size: 24px;
  }

  .txt-main-title {
    font-size: 90px;
  }

  .txt-page-date {
    font-size: 14px;
  }

  .txt-nav-username {
    font-size: 16px;
  }

  .txt-nav-usercaption {
    font-size: 14px;
    text-align: center;
  }

  .txt-nav-footer {
    font-size: 12px;
  }

  .txt-slide-search-date {
    font-size: 16px;
  }

  .txt-slide-date {
    font-size: 52px;
  }

  .txt-slide-time {
    font-size: 16px;
  }

  .txt-slide-title {
    font-size: 20px;
  }

  .txt-slide-pagination {
    font-size: 12px;
    text-align: center;
  }

  .txt-tab-normal {
    font-size: 18px;
  }

  .txt-card-bookmark-writing-title {
    font-size: 20px;
    text-align: left;
  }

  .txt-card-bookmark-writing-content {
    font-size: 14px;
  }

  .txt-card-bookmark-writing-date {
    font-size: 14px;
  }

  .txt-card-bookmark-username {
    font-size: 20px;
    text-align: center;
  }

  .txt-card-bookmark-usercaption {
    font-size: 14px;
    color: #424242;
    text-align: center;
  }

  .txt-card-topic-list-time {
    font-size: 14px;
  }

  .txt-card-topic-list-title {
    font-size: 30px;
    text-align: center;
  }

  .txt-card-topic-list-info {
    font-size: 14px;
    text-align: center;
  }

  .txt-card-my-ch-label {
    font-size: 12px;
    text-align: center;
  }

  .txt-card-setting-title {
    font-size: 14px;
  }

  .txt-card-setting-input {
    font-size: 14px;
  }

  .txt-card-setting-info {
    font-size: 14px;
  }

  .btn-default,
  .btn-join,
  .btn-login {
    min-width: 80px;
    padding: 6px 18px 6px;
  }

  .btn-danger {
    min-width: 80px;
    padding: 6px 18px 6px;
  }

  .form-position {
    width: 310px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .input-position {
    margin-top: 43px;
  }

  .input-group label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .input-group {
    margin-top: 15px;
  }

  input[placeholder] {
    font-size: 12px;
  }

  input {
    height: 32px;
    padding-left: 5px;
  }

  .login-subtitle {
    font-size: 18px;
  }

  .login-title {
    font-size: 40px;
  }

  .login-caption {
    margin-top: 15px;
    font-size: 16px;
  }

  #login-user-email {
    width: 304px;
  }

  #login-user-pw {
    width: 304px;
  }

  .login-btn-wrap {
    margin-top: 42px;
  }

  .btn-join {
    width: 150px;
  }

  .btn-login {
    width: 150px;
  }

  .findpw {
    top: -30px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 1023px) {
  .txt-page-title {
    font-size: px2vw(12, 320);
  }

  .txt-card-title {
    font-size: px2vw(14, 320);
  }

  .txt-card-contents {
    font-size: px2vw(12, 320);
  }

  .txt-card-date {
    font-weight: 600;
    font-size: px2vw(10, 320);
  }

  .txt-card-username {
    font-weight: 600;
    font-size: px2vw(14, 320);
  }

  .txt-btn-default,
  .txt-btn-default-disabled,
  .txt-btn-solid,
  .txt-btn-danger,
  .btn-default,
  .btn-join,
  .btn-login {
    font-family: 'NanumMyeongjo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: px2vw(12, 320);
  }

  .txt-btn-default-disabled {
    font-family: 'NanumMyeongjo', serif;
    font-style: normal;
    font-weight: 700;
  }

  .txt-btn-solid {
    font-family: 'NanumMyeongjo', serif;
    font-style: normal;
    font-weight: 700;
  }

  .txt-btn-danger {
    font-family: 'NanumMyeongjo', serif;
    font-style: normal;
    font-weight: 700;
  }

  .txt-btn-main,
  .txt-btn-main-disabled {
    font-size: px2vw(12, 320);
  }

  .txt-btn-main-disabled {
    font-size: px2vw(12, 320);
  }

  .txt-main-date {
    font-size: px2vw(12, 320);
  }

  .txt-main-title {
    font-size: px2vw(38, 320);
    text-align: center;
  }

  .txt-main-caption {
    font-size: px2vw(16, 320);
  }

  .txt-page-date {
    font-size: 14px;
    text-align: left;
  }

  .txt-nav-username {
    font-size: px2vw(14, 320);
    text-align: left;
  }

  .txt-nav-usercaption {
    font-size: px2vw(14, 320);
    text-align: left;
  }

  .txt-nav-footer {
    font-size: px2vw(10, 320);
  }

  .txt-slide-search-date {
    font-size: px2vw(11, 320);
  }

  .txt-slide-date {
    font-size: px2vw(38, 320);
  }

  .txt-slide-time {
    font-size: px2vw(12, 320);
  }

  .txt-slide-title {
    font-size: px2vw(16, 320);
  }

  .txt-slide-pagination {
    font-size: px2vw(12, 320);
    text-align: left;
  }

  .txt-tab-normal {
    font-size: px2vw(12, 320);
  }

  .txt-card-bookmark-writing-title {
    font-size: px2vw(20, 320);
  }

  .txt-card-bookmark-writing-content {
    font-size: px2vw(12, 320);
  }

  .txt-card-bookmark-writing-date {
    font-size: px2vw(12, 320);
  }

  .txt-card-bookmark-username {
    font-size: px2vw(12, 320);
    text-align: left;
  }

  .txt-card-topic-list-time {
    font-size: px2vw(14, 320);
  }

  .txt-card-topic-list-title {
    font-size: px2vw(30, 320);
    text-align: center;
  }

  .txt-card-topic-list-info {
    font-size: px2vw(14, 320);
    text-align: center;
  }

  .txt-card-my-ch-label {
    font-size: px2vw(12, 320);
    text-align: left;
  }

  .txt-card-setting-title {
    font-size: px2vw(9, 320);
  }

  .txt-card-setting-input {
    font-size: px2vw(12, 320);
  }

  .txt-card-setting-info {
    font-size: px2vw(12, 320);
  }

  .btn-default,
  .btn-join,
  .btn-login {
    min-width: px2vw(80, 320);
    padding: px2vw(6, 320) px2vw(18, 320) px2vw(6, 320);
  }

  .btn-danger {
    font-family: 'NanumMyeongjo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: px2vw(12, 320);
  }

  .btn-danger {
    min-width: px2vw(80, 320);
    padding: px2vw(6, 320) px2vw(18, 320) px2vw(6, 320);
  }

  .form-position {
    width: px2vw(246, 320);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .input-position {
    margin-top: px2vw(43, 320);
  }

  .input-group label {
    font-size: px2vw(14, 320);
    margin-bottom: px2vw(4, 320);
  }

  .input-group {
    margin-top: px2vw(18, 320);
  }

  input[placeholder] {
    font-size: px2vw(10, 320);
  }

  input {
    height: px2vw(32, 320);
    padding-left: px2vw(5, 320);
  }

  .login-subtitle {
    font-size: px2vw(18, 320);
  }

  .login-title {
    font-size: px2vw(40, 320);
  }

  .login-caption {
    margin-top: px2vw(15, 320);
    font-size: px2vw(16, 320);
  }

  #login-user-email {
    width: px2vw(240, 320);
  }

  #login-user-pw {
    width: px2vw(240, 320);
  }

  .login-btn-wrap {
    margin-top: px2vw(42, 320);
  }

  .btn-join {
    width: px2vw(120, 320);
  }

  .btn-login {
    width: px2vw(120, 320);
  }

  .findpw {
    top: px2vw(-30, 320);
    font-size: px2vw(11, 320);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .txt-page-title {
    font-size: 36px;
  }

  .txt-card-title {
    font-size: 22px;
  }

  .txt-card-contents {
    font-size: 14px;
  }

  .txt-card-date {
    font-size: 12px;
  }

  .txt-card-username {
    font-size: 14px;
  }

  .txt-btn-main,
  .txt-btn-main-disabled {
    font-size: 18px;
  }

  .txt-btn-main-disabled {
    font-size: 18px;
  }

  .txt-main-date {
    font-size: 24px;
  }

  .txt-main-title {
    font-size: 90px;
  }

  .txt-page-date {
    font-size: 14px;
  }

  .txt-nav-username {
    font-size: 16px;
  }

  .txt-nav-usercaption {
    font-size: 14px;
    text-align: center;
  }

  .txt-nav-footer {
    font-size: 12px;
  }

  .txt-slide-search-date {
    font-size: 16px;
  }

  .txt-slide-date {
    font-size: 52px;
  }

  .txt-slide-time {
    font-size: 16px;
  }

  .txt-slide-title {
    font-size: 20px;
  }

  .txt-slide-pagination {
    font-size: 12px;
    text-align: center;
  }

  .txt-tab-normal {
    font-size: 18px;
  }

  .txt-card-bookmark-writing-title {
    font-size: 20px;
    text-align: left;
  }

  .txt-card-bookmark-writing-content {
    font-size: 14px;
  }

  .txt-card-bookmark-writing-date {
    font-size: 14px;
  }

  .txt-card-bookmark-username {
    font-size: 20px;
    text-align: center;
  }

  .txt-card-bookmark-usercaption {
    font-size: 14px;
    color: #424242;
    text-align: center;
  }

  .txt-card-topic-list-time {
    font-size: 14px;
  }

  .txt-card-topic-list-title {
    font-size: 30px;
    text-align: center;
  }

  .txt-card-topic-list-info {
    font-size: 14px;
    text-align: center;
  }

  .txt-card-my-ch-label {
    font-size: 12px;
    text-align: center;
  }

  .txt-card-setting-title {
    font-size: 14px;
  }

  .txt-card-setting-input {
    font-size: 14px;
  }

  .txt-card-setting-info {
    font-size: 14px;
  }

  .btn-default,
  .btn-join,
  .btn-login {
    min-width: 80px;
    padding: 6px 18px 6px;
  }

  .btn-danger {
    min-width: 80px;
    padding: 6px 18px 6px;
  }

  .form-position {
    width: 310px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .input-position {
    margin-top: 43px;
  }

  .input-group label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .input-group {
    margin-top: 15px;
  }

  input[placeholder] {
    font-size: 12px;
  }

  input {
    height: 32px;
    padding-left: 5px;
  }

  .login-subtitle {
    font-size: 18px;
  }

  .login-title {
    font-size: 40px;
  }

  .login-caption {
    margin-top: 15px;
    font-size: 16px;
  }

  #login-user-email {
    width: 304px;
  }

  #login-user-pw {
    width: 304px;
  }

  .login-btn-wrap {
    margin-top: 42px;
  }

  .btn-join {
    width: 150px;
  }

  .btn-login {
    width: 150px;
  }

  .findpw {
    top: -30px;
    font-size: 11px;
  }
}
/*# sourceMappingURL=../maps/login.css.map */
