@mixin transition(
  $property: all,
  $duration: 400ms,
  $easing-function: linear,
  $delay: null
) {
  -webkit-transition: $property $duration $easing-function $delay;
  -moz-transition: $property $duration $easing-function $delay;
  -o-transition: $property $duration $easing-function $delay;
  transition: $property $duration $easing-function $delay;
}
