<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Ssum: Write</title>
</head>
<body>
	<header class="header">
		<div class="logo">
			<h1 class="readable-hidden">씀 로고(메인화면으로 바로가기)</h1>

			<a href="#">
				<img src="" alt="씀 로고 - 메인화면으로 가기">씀
			</a>
		</div>

		<!--  menu displayed on the Desktop / Mobile -->
		<nav class="nav">
			<h1 class="readable-hidden">씀 메뉴</h1>

			<a href="#">
				<img src="" alt="메뉴 아이콘">
			</a>

			<section class="box-menu">
				<section>
					<h2 class="readable-hidden">사용자 프로필</h2>

					<a class="profile" href="#">
						<img class="user-profile" src="" alt="사용자 프로필 사진">
						<p class="pen-name">궈는주</p>
					</a>
				</section>
				<hr>
				<ul class="menu">
					<li><a href="#">공개 씀</a></li>
					<li><a href="#">나의 씀</a></li>
					<li><a href="#">책갈피</a></li>
				</ul>
				<hr>
				<section>
					<a class="setting" href="#">설정</a>
					<button class="logout" type="button">로그아웃</button>
				</section>
				<section>
					<h2 class="readable-hidden">SSUM SNS</h2>

					<a class="sns-facebook" href="#"><img src="" alt="페이스북"></a>
					<a class="sns-twitter" href="#"><img src="" alt="트위터"></a>
					<a class="sns-instagram" href="#"><img src="" alt="인스타그램"></a>
				</section>
				<button class="menu-close" type="button">X</button>
			</section>
		</nav>

		<!-- <div class="search-bar">
			<button class="search"><img src="" alt="검색"></button>
		</div> -->
		<!-- 검색 클릭 시, -->
		<div class="search-bar">
			<h1 class="readable-hidden">search</h1>

			<form class="" action="" method="post">
				<fieldset>
					<label class="" for="search">search</label>
					<input id="search" type="text">
				</fieldset>
				<button class="search" type="submit"><img src="" alt="검색"></button>
			</form>
		</div>
	</header>

	<main class="main">
		<section class="">
			<h1 class="readable-hidden">content about topic</h1>
			
			<form class="" action="" method="post">
				<fieldset>
					<label for="content">글 작성</label>
					<textarea name="" id="content" cols="50" rows="30"></textarea>
				</fieldset>
			</form>

			<!-- toggle 형식 : javascript로 제어 -->
			<button class="text-align">
				<img src="" alt="글 정렬">
			</button>

			<!-- form 전송시: javacript로 제어 -->
			<div class="">
				<p class="today-topic">커피</p>
				<button class="btn-cancel">취소</button>
				<button class="btn-submit">완료</button>
			</div>
		</section>
	</main>

	<footer class="footer">
		<h1 class="readable-hidden">Footer</h1>
	</footer>
</body>
</html>