<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ssum: today's topic</title>
</head>
<body>
	<header class="header">
		<div class="logo">
			<h1 class="readable-hidden">씀 로고(메인화면으로 바로가기)</h1>

			<a href="#">
				<img src="" alt="씀 로고 - 메인화면으로 가기">씀
			</a>
		</div>

		<!--  menu displayed on the Desktop / Mobile -->
		<nav class="nav">
			<h1 class="readable-hidden">씀 메뉴</h1>

			<a href="#">
				<img src="" alt="메뉴 아이콘">
			</a>

			<section class="box-menu">
				<section>
					<h2 class="readable-hidden">사용자 프로필</h2>

					<a class="profile" href="#">
						<img class="user-profile" src="" alt="사용자 프로필 사진">
						<p class="pen-name">궈는주</p>
					</a>
				</section>
				<hr>
				<ul class="menu">
					<li><a href="#">공개 씀</a></li>
					<li><a href="#">나의 씀</a></li>
					<li><a href="#">책갈피</a></li>
				</ul>
				<hr>
				<section>
					<a class="setting" href="#">설정</a>
					<button class="logout" type="button">로그아웃</button>
				</section>
				<section>
					<h2 class="readable-hidden">SSUM SNS</h2>

					<a class="sns-facebook" href="#"><img src="" alt="페이스북"></a>
					<a class="sns-twitter" href="#"><img src="" alt="트위터"></a>
					<a class="sns-instagram" href="#"><img src="" alt="인스타그램"></a>
				</section>
				<button class="menu-close" type="button">X</button>
			</section>
		</nav>


		<!-- <div class="search-bar">
			<button class="search"><img src="" alt="검색"></button>
		</div> -->
		<!-- 검색 클릭 시, -->
		<div class="search-bar">
			<h1 class="readable-hidden">search</h1>

			<form class="" action="" method="post">
				<fieldset>
					<label class="" for="search">search</label>
					<input id="search" type="text">
				</fieldset>
				<button class="search" type="submit"><img src="" alt="검색"></button>
			</form>
		</div>
	</header>

	<main class="main">
		<section>
			<h1 class="readable-hidden">Today's Topic</h1>

			<article class="ssum-ex">
				<h2 class="readable-hidden">topic ex</h2>

				<p class="date">11월 25일 밤</p>
				<p class="topic">장 난</p>
				<p class="content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis commodi at reprehenderit omnis itaque, repudiandae aliquam. Eligendi repellendus vitae cum veniam beatae officiis optio repellat aspernatur voluptas quas, iste deleniti enim, adipisci totam explicabo?
				</p>
				<p class="author">- 시작의 끝 -</p>
				<a href="#" class="btn-write"><img src="" alt="글 쓰기"></a>
			</article>

			<section class="box-bringin-ssum-list">
				<a class="bringin" href="#">
					<p class="topic">잠깐</p>
					<p class="">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p class="pen-name">pen</p>
					<p class="date">2016년 11월 24</p>
				</a>
				<a class="bringin" href="#">
					<p class="topic">휴식</p>
					<p class="">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi aperiam repudiandae molestias et, libero numquam alias sunt corporis incidunt, tempora, eligendi iste, beatae accusamus nisi repellat ipsam magnam illum soluta dicta! Id possimus expedita facilis at amet, tempora perferendis porro, ea explicabo accusamus ut iste ratione soluta. Fugiat minus, eveniet. Reiciendis vero, quod suscipit eos ullam unde reprehenderit minus voluptas minima perferendis provident voluptatum mollitia aspernatur quibusdam illum accusantium recusandae odit non perspiciatis eveniet nam assumenda magni. Voluptates esse explicabo, facere possimus. Consectetur unde inventore obcaecati porro vero quam. Nam unde enim, ad sint beatae, fuga ab at alias aspernatur.
					</p>
					<p class="pen-name">누구든</p>
					<p class="date">2016년 11월 23</p>
				</a>
				<a class="bringin" href="#">
					<p class="topic">케익</p>
					<p class="">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore earum saepe vitae eveniet alias ipsa, asperiores tempora perspiciatis quia animi dolorum ea quidem voluptatum suscipit eligendi eum omnis ex, assumenda quae, culpa ad maxime soluta facilis nisi? Quae, perferendis, enim!
					</p>
					<p class="pen-name">토토</p>
					<p class="date">2016년 11월 21</p>
				</a>
			</section>
		</section>
	</main>

	<footer class="footer">
		<h1 class="readable-hidden">Footer</h1>
	</footer>
</body>
</html>